// @function torem($value) {
//     @return $value/100+rem;
//   }
.nft_app {
    --common-white: #ffffff;
    --common-black: #000000;
    --common-blue: #2785ff;
    --common-heading: #ffffff;
    --common-body-text: #86909d;
    --common-border: #2a2f36;
    --common-placeholder: #b4b4b4;
    --primary-color: #9E855D;
    // overflow: auto;
    // height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

html {
    font-size: 12px;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: var(--primary-color2);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
}

a,
.btn,
button,
span,
p,
i,
input,
select,
textarea,
li,
img,
svg path,
*::after,
*::before,
.transition-3,
h1,
h2,
h3,
h4,
h5,
h6 {
    transition: all ease-in-out 0.3s;
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    color: inherit;
    text-decoration: none;
}

a,
button {
    color: inherit;
    outline: none;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: 0;
    border: 0;
}
div.day_layout{
    background-image: url('../../../public/images/BGDAY.png');
    .layout_view .page_index {
        .human{
            width: 140px;
            top:14px;
            right: 168px;
        }
        .nft_button .button{
            background: #FFFFFF;
            border: 1px solid;
            border-radius: 6px;
            font-size: 26px;
            font-family: HYQiHei;
            font-weight: normal;
            color: #BD956B;
        }
        .footer_items .lists .items{
            // border: 1px solid;
            // border-radius: 22px 22px 0px 0px;
            background: linear-gradient(0deg, #FEFEFD, #BD956B);
            .items_content{
                background: #FFFFFF;
                border: 1px solid;
                border-radius: 22px 22px 0px 0px;   
                border: 1px solid;
                border-color: #BD956B;

                .top .name{
                    border-color: rgba(#BC9D6A,0.2);
                    color: #BD956B;
                    &::after{
                        background: #BC9469;
                    }
                }
                .list label{
                    color:#333;
                }
            }
        }
    }
   
}

._layout {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    // height: 0;
    min-height: 100vh;
    background-image: url('../../../public/images/BG.png');
    background-size: cover;
    background-position: center;

    .layout_footer {
        display: none;
    }

    .layout_header {
        width: 100%;
        background-color: var(--primary-color);
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 10;
        .header {
            padding: 0 100px;
            width: 100%;

            .header_container {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .logo {
                    display: flex;
                    align-items: center;

                    img {
                        width: 61px;
                        height: 61px;
                        margin-right: 167px;
                        margin-right: 24px;
                    }

                    label {
                        font-size: 26px;
                        color: var(--common-heading);
                    }
                }

                .widget {
                    display: flex;
                    align-items: center;

                    .social {
                        margin-right: 44px;
                        display: flex;
                        align-items: center;

                        img {
                            width: 42px;
                            height: 42px;
                            margin-left: 21px;
                        }
                    }

                    .menu {
                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }

    .layout_view {
        flex: 1;
        // height: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
        .page_index {
            width: 100%;
            position: relative;
            // background-image: url('../../../public/images/home_back@2x.png');
            // background-image: url('../../../public/images/BG.png');

            position: relative;
            // top: torem(-1);
            height: calc(100%);
            background-repeat: no-repeat;
            background-size: cover;

            .WTBG {
                // width: 4.4rem;
                width: 310px;
                position: absolute;
                right: 85px;
                top: 0;
            }

            .human {
                width: 140px;
                position: absolute;
                top: 14px;
                right: 168px;
            }

            .nft_button {
                position: absolute;
                bottom: 394px;
                bottom: 320px;
                left: 100px;

                .button {
                    // width: 240px;
                    padding: 0 30px;
                    height: 66px;
                    background: #241E17;
                    border: 2px solid;
                    border-radius: 6px;
                    font-size: 26px;
                    font-family: HYQiHei;
                    font-weight: normal;
                    color: #D4AA72;
                    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    position: relative;
                    justify-content: center;

                    &::after {
                        position: absolute;
                        border-radius: 6px;
                        content: '';
                        top: -0;
                        left: -0;
                        z-index: -1;
                        background: linear-gradient(0deg, #D4AA72, #E2ACBC) 10 10;
                        ;
                    }
                }
            }

            .footer_items {
                position: fixed;
                bottom: 0;
                width: 100%;
                z-index: 1;

                .lists {
                    padding: 0 100px;
                    display: flex;
                    justify-content: space-between;

                    .items {
                        padding: 1px;
                        background: linear-gradient(0deg, #111010, #D0AD74);
                        border-radius: 22px 22px 0px 0px;
                        flex: 1;
                        min-height: 164px;
                        border-bottom: 0;
                        margin-left: 10px;
                        position: relative;

                        .items_content {
                            padding: 16px 26px 6px;
                            height: 100%;
                            border-radius: 22px 22px 0px 0px;
                            position: relative;
                            background: linear-gradient(150deg, #242424 0%, #0F0F0F 93%);

                            .list {
                                margin-top: 16px;
                                align-items: flex-start;
                                display: flex;
                                flex-direction: column;

                                label {
                                    display: block;
                                    font-size: 12px;
                                    font-family: HYQiHei;
                                    font-weight: normal;
                                    color: #808080;
                                    line-height: 22px;
                                    cursor: pointer;
                                }
                            }

                            .top {
                                align-items: center;
                                justify-content: space-between;
                                display: flex;

                                .empty {
                                    flex: 1;
                                }

                                .name {
                                    font-size: 16px;
                                    font-family: HYQiHei;
                                    font-weight: normal;
                                    color: #FDFCFB;
                                    text-align: right;
                                    border-bottom: 2px solid #393328;
                                    padding-bottom: 9px;
                                    position: relative;
                                    width: auto;

                                    &::after {
                                        position: absolute;
                                        content: '';
                                        bottom: -2px;
                                        left: 0;
                                        width: 20px;
                                        height: 2px;
                                        background: #D0AD74;
                                    }
                                }
                            }
                        }
                    }

                    .items:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    ._layout .layout_view .page_index .nft_button {
        bottom:240px;
    }
}
@media screen and (max-width: 768px) {
    body {
        div._layout {
            .layout_header{
                position: relative;
            }
            .layout_view .page_index .human {
                top: 4px;
                right: 48%;
            }
            .layout_view .page_index .nft_button .button{
            }
        }
        div.day_layout {
            .layout_view .page_index .human {
                top: 4px;
                right: 48%;
            }
        }
     
    }
    ._layout .layout_view{
        margin-top: -2px;
    }
    div._layout .layout_view .page_index .nft_button .button{
        font-size: 16px;
        padding: 0 20px;
    }
    ._layout .layout_view .page_index {

        .WTBG,
        .human {
            right: 50%;
            transform: translate(50%, 0);
        }

        .WTBG {
            width: 300px;
            top: 0;
        }

        // .human {
        //     width: 220px;
        // }
    }

    ._layout {
        height: auto !important;
    }

    .layout_footer {
        position: relative;
        display: block !important;
        background-color: var(--primary-color);
        width: 100%;

        .footer {
            padding: 10px 16px;
        }

        .social {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                width: 40px;
                height: 40px;
            }
        }
    }

    .layout_header {
        .header {
            padding: 0 !important;

            .header_container {
                padding: 0 16px 0 13px;
                width: auto !important;

                .widget {
                    .social {
                        display: none !important;
                    }
                }
            }
        }
    }

    .layout_view {
        height: auto !important;
    }

    .page_index {
        height: auto !important;
        padding-bottom: 40px;


        .nft_button {
            position: relative !important;
            bottom: initial !important;
            left: initial !important;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 530px 0 40px;
            width: 90%;
            margin: 0 auto;
        }

        .footer_items {
            display: flex;
            justify-content: center;
            position: relative !important;

            .lists {
                width: 100%;
                padding: 0 30px !important;
                flex-direction: column;

                .items {
                    border-radius: 22px !important;
                    margin-left: 0 !important;
                    margin-bottom: 40px;
                    min-height: 180px !important;

                    .items_content {
                        border-radius: 22px !important;
                        padding: 16px !important;
                        height: auto !important;
                    }
                }
            }
        }
    }
}